@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-info bg-opacity-10">
    <div style="margin-left:25px;margin-top:-15px">  
        <br /><br />
        <h1 class="text-center" style="font-size:70px;">@ViewBag.Translations["name"]</h1>
        <br /><br />

        <form method="get" asp-action="Index" asp-controller="Home" style="display: inline-block;">
            <input type="hidden" name="lang" value="en" />
            <button type="submit">EN</button>
        </form>
        <form method="get" asp-action="Index" asp-controller="Home" style="display: inline-block;">
            <input type="hidden" name="lang" value="th" />
            <button type="submit">TH</button>
        </form>
        <br /><br />
        
        <div>
            <p style="font-size:22px;color:blue;opacity:75%">@ViewBag.Translations["aboutme"]</p>
            <p>@ViewBag.Translations["aboutmeinfo"]</p>
            <table class="table table-borderless">
                <tr>
                    <td style="color:blue;opacity:75%">Gmail</td>
                    <td style="color:blue;opacity:75%">Phone</td>
                    <td style="color:blue;opacity:75%">Github</td>
                </tr>
                <tr>
                    <td>nathaphongprasertrat@gmail.com</td>
                    <td>082-4698667</td>
                    <td><a href="https://github.com/PELover" target=”_blank” style="text-decoration:none;color:rgba(162, 1, 147, 1)">PELover</a></td>
                </tr>               
            </table>
        </div>
	</div>
</div>
<br />

<!-- Education -->
<div style="margin-left:25px;margin-top:-18px">
    <p style="font-size:22px;"><a href="Projects/Index" class="color:blue;opacity:75%">@ViewBag.Translations["project"]</a></p>
    <li class="m-lg-3">@ViewBag.Translations["project1"]</li>
    <li class="m-lg-3">@ViewBag.Translations["project2"]</li>
    <li class="m-lg-3">@ViewBag.Translations["project3"]</li>
    <li class="m-lg-3">@ViewBag.Translations["project4"]</li>
</div>
<hr >

<!-- skills -->
<div style="margin-left:25px;margin-top:-18px">
    <p style="font-size:22px;color:blue;opacity:75%">@ViewBag.Translations["skills"]</p>
    <li class="m-lg-3">@ViewBag.Translations["skills1"]</li>
    <li class="m-lg-3">@ViewBag.Translations["skills2"]</li>
    <li class="m-lg-3">@ViewBag.Translations["skills3"]</li>
    <li class="m-lg-3">@ViewBag.Translations["skills4"]</li>
    <li class="m-lg-3">@ViewBag.Translations["skills5"]</li>
    <li class="m-lg-3">@ViewBag.Translations["skills6"]</li>
    <li class="m-lg-3">@ViewBag.Translations["skills7"]</li>
    <li class="m-lg-3">@ViewBag.Translations["skills8"]</li>
    <li class="m-lg-3">@ViewBag.Translations["skills9"]</li>
    <li class="m-lg-3">@ViewBag.Translations["skills10"]</li>
 </div>
 <hr>

 <!-- Education -->
<div style="margin-left:25px;margin-top:-18px">
    <p style="font-size:22px;color:blue;opacity:75%">@ViewBag.Translations["education"]</p>
	<li class="m-lg-3">@ViewBag.Translations["education1"]</br>
        @ViewBag.Translations["education1_1"]</br>
        @ViewBag.Translations["education1_2"]
    </li>
    <li class="m-lg-3">@ViewBag.Translations["education2"]<br />
        @ViewBag.Translations["education2_1"]<br />
        @ViewBag.Translations["education2_2"]<br />
        @ViewBag.Translations["education2_3"]
    </li>
</div>
